* { 
    color:#fff;
    text-decoration: none;
}

body {
  background-color:#ce3635;
  text-align: center;
  color:#fff;
  padding-top:1em;
}

.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  padding: 20px;
}

.nav li a {
    font-size: 20px;
}

.header {
    display: table;
    height: 100px;
    width: 100%;
    background-color: black;
}

.contant {
    background-color: black;
    font-size: 10px;
}

.contant textarea {
    color:#000;
}