body {
	background-color: black;
	color: white;
	/*
	Middle circle color: 121113 
	Border color : 030203
	*/
}

#header {
    font-size: 15vw;
    text-align: center;
    margin-top: 50px;
    padding: 0;
}

#header:hover {
}

#console {
	font-size: 4vw;
	text-align: left;
	padding-left: 80px;
	padding-right: 80px;
}